{% extends 'projectApp/base.html' %} {% block content %}
<h1 class="mb-4">Add product</h1>
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Product Name</span>
        <input
          type="text"
          class="form-control"
          placeholder="TV"
          name="name"
          aria-label="TV"
          aria-describedby="addon-wrapping"
          required
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Price</span>
        <input
          type="text"
          class="form-control"
          name="price"
          placeholder="12$"
          required
        />
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">Description</span>
        <input
          type="text"
          class="form-control"
          placeholder="Large TV"
          name="description"
          aria-label="TV"
          aria-describedby="addon-wrapping"
          required
        />
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="mt-3 btn btn-primary text-center w-50">Add</button>
  </div>
</form>

{% endblock %}
