<!DOCTYPE html>
<html>
  <head>
    <title>Selling</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>
  <body class="d-flex flex-column vh-100">
    <nav>
      <div class="bg-primary py-2 text-white">
        <ul class="nav ms-5">
          <li class="nav-item">
            <a class="nav-link link-light font h2" href="{% url 'products' %}"
              >Products</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link link-light h2" href="{% url 'add' %}"
              >Add Product</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link link-light h2" href="{% url 'update' %}"
              >Update Product</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container my-auto">{% block content %} {% endblock %}</div>
    <footer class="footer bg-primary text-white text-center py-3 mt-auto">
      <p>© 2023 Selling</p>
    </footer>
  </body>
</html>
