{% extends "projectApp/header.html" %} {% block content %}
<h1>Update Product</h1>
<form action="/update/{{ product.id }}" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{ product.name }}" />
  <label for="price">Price</label>
  <input type="text" name="price" value="{{ product.price }}" />
  <label>Description</label>
  <input
    type="text"
    name="description"
    id="description"
    value="{{ product.description }}"
  />
  <button>Update</button>
</form>
{% endblock %}
